* {
    box-sizing: border-box;
}

.left-link {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
     gap: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.subtext.sign-up {
    background-color: #3882F6;
    max-width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.placeholder {
    display: flex;
    max-width: 300px;
    height: 130px;
    background-color: #484849;
    align-items: center;
    justify-content: center;
    color:  #E5E7EB;
    font-weight: 400;

}


.hero {
    background-color: #1F2937;
}