* {
    box-sizing: border-box;
}

.left-link {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
     gap: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
   
}

.subtext.sign-up {
    background-color: #3882F6;
    max-width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.middle {
    display: flex;
    flex-direction: column;  
    max-width: 400px;
}

.placeholder {
    display: flex;
    max-width: 400px;
    width: 400px;
    height: 150px;
    background-color: #484849;
    align-items: center;
    justify-content: center;
    color:  #E5E7EB;
    font-weight: 400;
}

.mini-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-color: #1F2937;
    height: 400px;
    padding: 20px;  
    width: 100%;
}

.container {
display: flex;
justify-content: center;
}

.big-container {
    text-align: center;
}

.random {
    font-weight: 700;
}

.illustration {
    height: 70px;
    width: 80px;
    border: 2px #3882F6 solid;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.group {
    max-width: 150px;
}